// PRIMARY COLOR 

    $primary-color-1:#320040;
    $primary-color-2:#3d0d4a;
    $primary-color-3:#241329;
    $primary-color-4:#7c069c;
    $primary-color-5:#17041d;
    

// SECONDARY COLOR 

    $secondary-color-1:#4E0D70;
    $secondary-color-2:#C166F2;
    $secondary-color-3:#A61DF0;
    $secondary-color-4:#592F70;
    $secondary-color-5:#8316BD;

// TEXT COLOR

    $text-ligh-color: #fff;
    $text-dark-color: #000;

// BOX SHADOW 

    $trasparent-color:rgba(33, 33, 33, 0.815);
