// PRIMARY COLOR 

    $primary-color-1:#320040;
    $primary-color-2:#3d0d4a;
    $primary-color-3:#241329;
    $primary-color-4:#7c069c;
    $primary-color-5:#17041d;
    

// SECONDARY COLOR 

    $secondary-color-1:#4E0D70;
    $secondary-color-2:#C166F2;
    $secondary-color-3:#A61DF0;
    $secondary-color-4:#592F70;
    $secondary-color-5:#8316BD;

// TEXT COLOR

    $text-ligh-color: #fff;
    $text-dark-color: #000;

// BOX SHADOW 

    $trasparent-color:rgba(33, 33, 33, 0.815);

// PRICE NAVBAR 

    // PRIMARY COLOR
        $price-primary-color-1:#380700;
        $price-primary-color-2:#C35544;
        $price-primary-color-3:#B81800;
        $price-primary-color-4:#762519;
        $price-primary-color-5:#480b01;
    // SECONDARY COLOR
        $price-secondary-color-1:#F02618;
        $price-secondary-color-2:#BD4C44;
        $price-secondary-color-3:#a3362f;
        $price-secondary-color-4:#c47873;
        $price-secondary-color-5:#70120B;
        
    // BACKGROUND
        // -----------------------------------------------------------
        $background-lighter: linear-gradient(to right,$secondary-color-1,$secondary-color-2,$secondary-color-3,$secondary-color-4,$secondary-color-5);
        //------------------------------------------------------------
        $background-darker: linear-gradient(to right,$primary-color-1,$primary-color-2,$primary-color-3,$primary-color-4,$primary-color-5);