#price-hero{
    .price-hero-container{
        width: 100vw;
        height: 1200px;
        background-image: url(/images/rows-of-red-seats-in-a-theater.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;

        &-info{
            background-color: $trasparent-color;
            height: 476px;
            width: 950px;
            margin-top: 10rem;
            border-radius: 20px;
            backdrop-filter: blur(12px);
            box-shadow: 5px 5px 10px $price-primary-color-2;
            @include flexCenter();
            flex-direction: column;

            @include tablet{
                width: 735px;
            }

            @include mobile{
                width: 333px;
                height: 550px;
            }

            h1{
                font-size: 40px;
                margin-bottom: .5rem;
                color: $price-primary-color-3;
            }

            p{
                font-size: 25px;
                color: $text-ligh-color;
            }

            hgroup{
                box-shadow: 5px 5px 10px $price-primary-color-2;
                border-radius: 15px;
                padding: .25rem;
                @include flexCenter();
                flex-direction: column;
                margin-bottom: 1.5rem;

                @include mobile{
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
}