#prox-hero{
    .prox-hero-container{
        background: $background-lighter;
        @include flexCenter();
        flex-direction: column;
        height: 1200px;
        
        row-gap: 1.5rem;

        .container{
            box-shadow: 5px 5px 10px $trasparent-color;

            &-film{
                border-radius: 15px;
                height: 600px;
                width: 400px;
                @include flexCenter();
                flex-direction: column;
                padding: 1rem;
                background: linear-gradient(to right, $primary-color-1, $primary-color-4,$primary-color-5);

                @include mobile{
                    width: 335px;
                    height: 517px;
                }

                img{
                    height: 550px;
                    border-radius: 15px;

                    @include mobile{
                        height: 480px;
                    }
                   }
            }
        }
    }
}