#prox-hero{
    .prox-hero-container{
        background: linear-gradient(to right,$secondary-color-1,$secondary-color-2,$secondary-color-3,$secondary-color-4,$secondary-color-5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1200px;
        
        row-gap: 1.5rem;

        .container{
            box-shadow: 5px 5px 10px $trasparent-color;

            &-film{
                border-radius: 15px;
                height: 600px;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background: linear-gradient(to right, $primary-color-1, $primary-color-4,$primary-color-5);

                @include mobile{
                    width: 335px;
                    height: 517px;
                }

                img{
                    height: 550px;
                    border-radius: 15px;

                    @include mobile{
                        height: 480px;
                    }
                   }
            }
        }
    }
}