*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './navbar';
@import './hero';
@import './footer';
@import './prox-hero';
@import './price-hero';
@import './price-navbar';


section{
    overflow: hidden;
}