*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// PAGES IMPORT

    @import './navbar';
    @import './hero';
    @import './footer';
    @import './prox-hero';
    @import './price-hero';
    @import './price-navbar';
    @import './sale-hero';

// UTILIES
    @import './utilies';


section{
    overflow: hidden;
}