* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: linear-gradient(to right, #320040, #3d0d4a, #241329, #7c069c, #17041d);
  position: fixed;
  width: 100vw;
  box-shadow: 10px 10px 15px rgba(33, 33, 33, 0.815);
}
#navbar .navbar-container-link {
  padding: 1.2em;
  background: linear-gradient(to right, #4E0D70, #C166F2, #A61DF0, #592F70, #8316BD);
  height: 30px;
  display: flex;
  align-items: center;
  transform: skewX(-25deg);
  box-shadow: 5px 5px 8px rgba(33, 33, 33, 0.815);
}
@media screen and (max-width: 768px) {
  #navbar .navbar-container-link {
    height: 60px;
    width: 720px;
  }
}
@media screen and (max-width: 376px) {
  #navbar .navbar-container-link {
    width: 330px;
  }
}
#navbar .navbar-container-link ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 376px) {
  #navbar .navbar-container-link ul {
    justify-content: center;
    padding-left: 1.5rem;
  }
}
#navbar .navbar-container-link ul li {
  height: 2.4em;
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  #navbar .navbar-container-link ul li #nav-vittoria-peace-film-fest {
    visibility: hidden;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  #navbar .navbar-container-link ul li #nav-vittoria-peace-film-fest::after {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 0;
    content: "Vittoria Film Fest";
  }
}
@media screen and (max-width: 376px) {
  #navbar .navbar-container-link ul li #nav-le-nostre-sale,
#navbar .navbar-container-link ul li #nav-link,
#navbar .navbar-container-link ul li #nav-vittoria-peace-film-fest,
#navbar .navbar-container-link ul li #nav-cineclub-dessai-mostre,
#navbar .navbar-container-link ul li #nav-la-nostra-storia,
#navbar .navbar-container-link ul li #nav-trasparenza {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #navbar .navbar-container-link ul li {
    text-align: center;
    border-right: 1px solid #4E0D70;
    padding-right: 6.5px;
  }
}
@media screen and (max-width: 376px) {
  #navbar .navbar-container-link ul li {
    border: none;
    padding: 0;
  }
}
#navbar .navbar-container-link ul li:hover {
  background-color: #320040;
  height: 70px;
  border-radius: 10px;
  padding: 1rem;
}
#navbar .navbar-container-link ul li a {
  color: #fff;
  text-decoration: none;
}
#navbar .navbar-container-link ul li a:hover {
  font-size: 20px;
}
#navbar .navbar-container .gotop-icon {
  height: 35px;
  width: 35px;
  margin-left: 2rem;
  background-color: #A61DF0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  #navbar .navbar-container .gotop-icon {
    position: relative;
    right: 10px;
  }
}
@media screen and (max-width: 376px) {
  #navbar .navbar-container .gotop-icon {
    right: 13px;
  }
}
#navbar .navbar-container .gotop-icon a i {
  color: #320040;
  -webkit-animation: up-down 3s ease infinite;
          animation: up-down 3s ease infinite;
}
@-webkit-keyframes up-down {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes up-down {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

#hero .hero-container {
  width: 100vw;
  height: 1800px;
  background: linear-gradient(to right, #320040, #3d0d4a, #241329, #7c069c, #17041d);
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 768px) {
  #hero .hero-container {
    height: 3000px;
  }
}
#hero .hero-container-left {
  width: 50vw;
  padding: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 376px) {
  #hero .hero-container-left {
    display: none;
  }
}
#hero .hero-container-left .logo-container {
  width: 500px;
  height: 800px;
  margin-top: 7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero .hero-container-left .logo-container-cinema {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.25rem;
  width: 500px;
  box-shadow: 5px 5px 10px #C166F2;
  padding: 1.5rem;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  #hero .hero-container-left .logo-container-cinema {
    grid-template-columns: repeat(1, 1fr);
    width: 290px;
  }
}
#hero .hero-container-left .logo-container-cinema #hero-black-logo {
  height: 87px;
}
#hero .hero-container-left .logo-container-cinema #hero-logo {
  height: 87px;
}
#hero .hero-container-left .logo-container-cinema #hero-lumiere {
  height: 87px;
}
#hero .hero-container-left .logo-container-school {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 5rem;
  box-shadow: 5px 5px 10px #C166F2;
  padding: 1.5rem;
  border-radius: 5px;
}
#hero .hero-container-left .logo-container-school #hero-18app {
  height: 87px;
}
#hero .hero-container-left .logo-container-school #hero-18app:hover {
  height: 220px;
}
#hero .hero-container-left .logo-container-school #hero-carta-docenti {
  height: 87px;
}
#hero .hero-container-left .logo-container-school #hero-carta-docenti:hover {
  height: 220px;
}
#hero .hero-container-left .logo-container-school #hero-fblogo {
  height: 67px;
  border-radius: 10px;
}
#hero .hero-container-left .logo-container-school #hero-fblogo:hover {
  height: 120px;
  border-radius: 30px;
}
#hero .hero-container-left .logo-container-prenotation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  box-shadow: 5px 5px 10px #C166F2;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-animation: zoom-in-out 5s ease infinite;
          animation: zoom-in-out 5s ease infinite;
}
@-webkit-keyframes zoom-in-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes zoom-in-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
@media screen and (max-width: 768px) {
  #hero .hero-container-left .logo-container-prenotation {
    -webkit-animation: none;
            animation: none;
  }
}
#hero .hero-container-left .logo-container-prenotation label {
  color: #fff;
  font-size: 18px;
}
#hero .hero-container-right {
  background: linear-gradient(to right, #4E0D70, #C166F2, #A61DF0, #592F70, #8316BD);
  padding: 6rem 0 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  #hero .hero-container-right {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 376px) {
  #hero .hero-container-right {
    width: 100vw;
  }
}
#hero .hero-container-right .container {
  box-shadow: 5px 5px 10px rgba(33, 33, 33, 0.815);
}
#hero .hero-container-right .container-film {
  border-radius: 15px;
  height: 420px;
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(to right, #320040, #7c069c, #17041d);
}
#hero .hero-container-right .container-film img {
  height: 320px;
  border-radius: 15px;
}
#hero .hero-container-right .container-film h1 {
  font-size: 35px;
}
#hero .hero-container-right .container-film h3 {
  font-size: 17px;
}

#footer {
  display: none;
}
@media screen and (max-width: 768px) {
  #footer {
    display: block;
  }
}
#footer .footer-container {
  height: 130px;
  background: linear-gradient(to right, #17041d, #7c069c, #241329, #3d0d4a, #320040);
}
#footer .footer-container-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 130px;
}
#footer .footer-container-logo-cinema {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding-left: 2.5em;
}
#footer .footer-container-logo-cinema img {
  height: 40px;
}
#footer .footer-container-logo-school {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .footer-container-logo-school #footer-18app {
  height: 40px;
}
#footer .footer-container-logo-school #footer-carta-docenti {
  height: 40px;
}
#footer .footer-container-logo-school #footer-fblogo {
  height: 30px;
  border-radius: 5px;
}
#footer .footer-container-logo-prenotation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .footer-container-logo-prenotation img {
  height: 60px;
}
#footer .footer-container-logo-prenotation label {
  color: #fff;
}

section {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */